{% extends "catalog/base.html" %}
{% block content %}
  <h1>Name: {{ author.first_name}} {{ author.last_name}}</h1>

    <p>Date of Birth:</> {{ author.date_of_birth }}
    Date of Death:</> {{ author.date_of_death }}
    </p> <!-- author detail link not yet defined -->
    <div>
    {% if author.author_image %}
        <img src="{{ author.author_image.url }}">
    {% endif %}
    </div>

 <div style="margin-left:20px;margin-top:20px">
 {% if author.book_set.all %}
     <h4>Books</h4>
     <hr>
     {% for book in author.book_set.all %}
         {% if author.book_set.all %}
             <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
         {% else %}
             <p>No Books Available</p>
         {% endif %}
     <hr>
     {% endfor %}
 {% else %}
     <p>No Books Available</p>
 {% endif %}


  </div>
    <a href="{% url 'author_list' %}">Back to list of authors</a>
{% endblock %}
